@use 'sass:color';

button {
    background-color: transparent;
    border: none;
    outline: none;
    user-select: none;
}

.btn {    
    color: inherit;
    background-color: transparent;
    border: none;
    padding: $input-padding-y $input-padding-x;
    border-radius: $border-radius;
    text-decoration: none;

    &-primary {
        color: $dark;
        background-color: var(--bs-primary);
    }

    &-secondary {
        color: $white;
        background-color: $secondary;
    }

    &-dark {
        background-color: var(--bs-gray-850);
        border-color: var(--bs-gray-700);
    }

    &-outline {
        &-primary {
            border-color: $primary;
            color: $primary;
        }

        &-secondary {
            border-color: $secondary;
            color: $secondary;
        }

        &-dark {
            border-color: $gray;
            color: $gray;
        }

        &-light {
            border-color: var(--bs-gray-000);
        }
    }

    &[class*="btn-outline-"] {
        border-width: 1px;
        border-style: solid;
        border-bottom-width: 1px;
    }
}