.card {
    $this: &;
    border-radius: $border-radius;

    &--chemical {
        background-color: $gray-800;
        font-weight: 600;
        line-height: 1;
        border-color: $gray-700;
        transition: background-color .09s ease-in-out;

        #{$this}-body {
            padding: 1.5rem;
            text-wrap: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &:hover {
            background-color: $light;
        }
    }

    &--composition {
        --card-composition-bg: var(--bs-gray-850);

        background-color: var(--card-composition-bg);
        border-color: var(--bs-border-color);
        border-radius: 1rem;
        overflow: clip;

        #{$this}-header {
            background-color: var(--card-composition-bg);
            font-weight: bold;
            border-bottom: 0;

            a {
                color: var(--bs-gray-000);
                text-decoration: none;
                border-bottom: none;
            }
        }

        #{$this}-footer {
            background-color: var(--card-composition-bg);
            border-top: none;
        }

        a {
            color: var(--bs-primary);
            text-decoration: none;
            border-bottom: 1px dashed var(--bs-primary);
        }

        &--quantity {
            width: 50px;
        }
    }
}