form {
    h3 {
        margin-block: .5rem 1.5rem;
        font-size: 1.4rem;
        font-weight: 700;
    }
}

.form {
    &-label {
        font-weight: 500;
        text-transform: uppercase;
        color: var(--bs-gray-100);
    }

    &-control {
        border-color: var(--bs-gray-500);
    }

    &-richtext {
        border: 1px solid var(--bs-gray-500);
        border-radius: var(--bs-border-radius);
        overflow: hidden;

        .tiptap {
            padding: 1.5rem;
            outline: none;
            min-height: 200px;
        }
    }

    &-dropzone {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px dashed var(--bs-gray-700);
        padding-block: 3rem;
        font-weight: 500;
        font-size: 1.3rem;
        color: var(--bs-gray-700);
        transition: border-color .05s ease-in-out;

        &:has(.dropzone-preview) {
            justify-content: flex-start;
            align-items: center;
            padding-block: 0rem;
        }

        &.dragover {
            border-color: $white;
        }
    }
}