.page {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    &--title {
        position: relative;
        background-color: $gray-800;
        padding: 5rem 0 1.5rem 3rem;
        border-bottom: 1px solid $border-color;
        z-index: 10;

        &::after {
            position: absolute;
            background-color: $gray-800;
            display: block;
            content: " ";
            width: 10000px;
            height: 100%;
            top: 1px;
            left: 100%;
            border-bottom: 1px solid $border-color;
        }
    }

    &--box {
        background-color: var(--bs-gray-850);
        border: 1px solid var(--bs-border-color);
        border-radius: 1rem;
        padding: 1.5rem;
    }
    
    &--content {
        flex-grow: 1;
        margin-left: 3rem;
        margin-top: 1.5rem;
        z-index: 55;

        &--sidebar {
            min-width: 300px;
            max-width: 300px;
            align-self: flex-start;

            &--left {
                margin-right: 1.5rem;
            }
        }
    }
}