@import '@fontsource-variable/exo-2';
@import '@fontsource-variable/karla';

$font-family-sans-serif:   'Karla Variable', sans-serif;

$neutral: #737373;
$neutral-100: tint-color($neutral, 80%);
$neutral-200: tint-color($neutral, 60%);
$neutral-300: tint-color($neutral, 40%);
$neutral-400: tint-color($neutral, 20%);
$neutral-500: $neutral;
$neutral-600: shade-color($neutral, 20%);
$neutral-700: shade-color($neutral, 40%);
$neutral-800: shade-color($neutral, 60%);
$neutral-900: shade-color($neutral, 80%);

$gray: #6b6b6e;
$gray-000: tint-color(#19191d, 45%);
$gray-050: tint-color(#19191d, 42%);
$gray-100: tint-color(#19191d, 40%);
$gray-150: tint-color(#19191d, 37%);
$gray-200: tint-color(#19191d, 35%);
$gray-250: tint-color(#19191d, 32%);
$gray-300: tint-color(#19191d, 30%);
$gray-350: tint-color(#19191d, 27%);
$gray-400: tint-color(#19191d, 25%);
$gray-450: tint-color(#19191d, 22%);
$gray-500: tint-color(#19191d, 20%);
$gray-550: tint-color(#19191d, 17%);
$gray-600: tint-color(#19191d, 15%);
$gray-650: tint-color(#19191d, 12%);
$gray-700: tint-color(#19191d, 10%);
$gray-750: tint-color(#19191d, 7%);
$gray-800: tint-color(#19191d, 5%);
$gray-850: tint-color(#19191d, 2%);
$gray-900: tint-color(#19191d, 0%);

$grays: (
  "000": $gray-000,
  "050": $gray-050,
  "100": $gray-100,
  "150": $gray-150,
  "200": $gray-200,
  "250": $gray-250,
  "300": $gray-300,
  "350": $gray-350,
  "400": $gray-400,
  "450": $gray-450,
  "500": $gray-500,
  "550": $gray-550,
  "600": $gray-600,
  "650": $gray-650,
  "700": $gray-700,
  "750": $gray-750,
  "800": $gray-800,
  "850": $gray-850,
  "900": $gray-900
);

$white:                     #fff;
$dark:                      #19191d;
$primary:                   #ffe0ad;
$secondary:                 tint-color(#19191d, 15%);
$light:                     $gray-000;

$link-color:                $primary;

$body-bg:                   $gray-900;
$body-color:                $white;

$border-radius:             .3rem;
$border-color:              $gray-700;

$input-padding-x:           1rem;
$input-padding-y:           .45rem;
$input-border-color:        $gray-000;
$input-placeholder-color:   $gray-000;

$nav-link-padding-y:        .35rem;
$nav-link-padding-x:        .75rem;

$tooltip-color:             $body-color;
$tooltip-bg:                #000;
$tooltip-border-radius:     $border-radius;

$spacer: 1rem;
$spacers: (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: ($spacer * .75),
    4: ($spacer * 1),
    5: ($spacer * 1.25),
    6: ($spacer * 1.5),
    7: ($spacer * 1.75),
    8: ($spacer * 2),
    9: ($spacer * 2.25),
    10: ($spacer * 2.5),
    11: ($spacer * 2.75),
    12: ($spacer * 3),
    13: ($spacer * 3.25),
    14: ($spacer * 3.5),
    15: ($spacer * 3.75),
    16: ($spacer * 4),
    17: ($spacer * 4.25),
    18: ($spacer * 4.5),
    19: ($spacer * 4.75),
    20: ($spacer * 5)
);